// bower:scss
// endbower
.reveal {
  h1,h2,h3,p,li,dt,dd,th,td {
    font-family: 'Fira Sans', sans-serif;
    text-transform: none;
  }

  .byline {
    display: block;
  }

  .ffos-screenshot {
    float: left;
    width: 30%;
  }

  .ffos-overview {
    width: 60%;
  }

  pre code {
    background: #fff;
    color: #333;
  }
}

